@font-face {
font-family: "BogleWeb-Regular";
src: url("../../Module 5/BogleWeb-Regular.eot");
src: url("../../Module 5/BogleWeb-Regular.eot?#iefix") format("embedded-opentype"),
url("../../Module 5/BogleWeb-Regular.woff2") format("woff2"),
url("../../Module 5/BogleWeb-Regular.woff") format("woff"),
url("../../Module 5/BogleWeb-Regular.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "BogleWeb-Bold";
src: url("../../Module 5/fortune500/BogleWeb-Bold.eot");
src: url("../../Module 5/fortune500/BogleWeb-Bold.eot?#iefix") format("embedded-opentype"),
url("../../Module 5/fortune500/BogleWeb-Bold.woff2") format("woff2"),
url("../../Module 5/fortune500/BogleWeb-Bold.woff") format("woff"),
url("../../Module 5/fortune500/BogleWeb-Bold.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}


body {
font-family: "BogleWeb-Regular", Verdana, sans-serif;
  margin:0;  
  padding:0;
font-size: 20px;
}
.outerout{
   text-align: center;
   padding:20px;
	max-width: 1000px;
}
.outer{
   text-align: center;
   padding:20px;
	max-width: 950px;
}
.page{
   max-width:600px;
   height:95vh;
	width: 100%;
   display: inline-block;
   text-align:left;
   padding:10px;
   background-color: white;
}
.topofpage{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	height: 80px;
	background-color: white; 
}
.menu{

	display: none;
}
#menu{
	width: 80px;
}
#menuoverlay{
	position: absolute;
	top:0px;
	left: 0px;
	background-color: white;
	width: 100%;
	height: 98vh;
	text-align: center;
	display: none;
}
.menuitems{
	font-family: "BogleWeb-Bold", Verdana, sans-serif;
	color: #0a1e40;
   margin-left:10px;
   margin-top:10px;
   text-align: left;
	border: 1px #F7C34A;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
	display: flex;
	background-color: white;
}

#close{
	position: absolute;
	top:10px;
	right: 10px;
	font-size: 60px;
}

.navbar{
font-family: "BogleWeb-Bold", Verdana, sans-serif;
	color: #0a1e40;
   margin-left:10px;
   margin-top:10px;
   text-align: left;
	border: 1px #F7C34A;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
	display: flex;
	background-color: white;
}
.navigation{
	font-family: "BogleWeb-Bold", Verdana, sans-serif;
	color: #0a1e40;
   margin-left:10px;
   margin-top:10px;
   text-align: left;
	border: 1px #F7C34A;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
	display: flex;
	background-color: white;
}
.title{
	font-family: "BogleWeb-Bold", Verdana, sans-serif;
	font-weight: bolder;
	font-size: 30px;
	color:#0a1e40;
}
.subtitle{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	text-align: left;
	color: #2d71d5;
	font-size: 25px;
}