
body{
  background-color:rgb(240,240,240);
  padding:0;
  margin:0;
  line-height: 1em;

}

*{
  font-family: helvetica,arial,sans-serif;
  font-weight: 300;
}

header{
width:100%;
display: flex;
background-color:rgb(140,216,230);
justify-content: space-between;
align-items: center;

}
nav{

}

nav ul{
  display: flex;
  margin:10px;
}
nav ul li{
  list-style: none;
  padding:0px 20px;

}


nav ul li a{
  text-decoration: none;
  color:white;
  font-weight: bolder;
}

nav ul li a:hover{
  color:rgb(200,200,200);
}
.logo{
  width:20%;
  display: flex;
  justify-content:center;
  align-items: center;
  margin:10px;
}
.logo h2{
  color:white;
}

#content{
  margin:0px auto;
  width:1024px;
  background-color:white;
  padding:20px 50px;
	transition: 2s all;
}

#content h2{
  font-size:2.5em;
  font-weight: bold;
}
#containerImage{
	width: 460px;
	height: 245px;
}
.headerImage{
  width:40%;
align-items: center;
}

#button{
  position: fixed;
  right:0px;
  bottom:0px;
  z-index: 1;
  margin:20px;
  width:120px;
  height:40px;
  background-color:rgb(222,111,202);
  display: flex;
  justify-content:center;
  align-items: center;
border-radius: 5px;
cursor:pointer;
}
#button:hover{
  background-color:rgb(0,0,0);
  color:white;
}

#button1{
  position: fixed;
  right:0px;
  bottom:270px;
  z-index: 1;
  margin:20px;
  width:120px;
  height:40px;
  background-color:rgba(0,255,255,1.00);
  display: flex;
  justify-content:center;
  align-items: center;
border-radius: 5px;
cursor:pointer;
}
#button1:hover{
  background-color:rgb(0,0,0);
  color:white;
}
#button2{
  position: fixed;
  right:0px;
  bottom:500px;
  z-index: 1;
  margin:20px;
  width:120px;
  height:40px;
  background-color:rgb(176, 196, 222);
  display: flex;
  justify-content:center;
  align-items: center;
border-radius: 5px;
cursor:pointer;
}
#button2:hover{
  background-color:rgb(0,0,0);
  color:white;
}
#button3{
  position: fixed;
  right:0px;
  bottom:450px;
  z-index: 1;
  margin:20px;
  width:120px;
  height:40px;
  background-color:rgb(0, 255, 127);
  display: flex;
  justify-content:center;
  align-items: center;
border-radius: 5px;
cursor:pointer;
}
#button3:hover{
  background-color:rgb(0,0,0);
  color:white;
}

#button4{
  position: fixed;
  right:0px;
  bottom:400px;
  z-index: 1;
  margin:20px;
  width:120px;
  height:40px;
  background-color:rgb(154, 205, 50);
  display: flex;
  justify-content:center;
  align-items: center;
border-radius: 5px;
cursor:pointer;
}
#button4:hover{
  background-color:rgb(0,0,0);
  color:white;
}
/* Welcome box */
.welcomeBlackOut{
  position: fixed;
  top:0px;
  left:0px;
  background-color: black;
  display:flex;
  justify-content:center;
  align-items: center;
  height:100%;
  width:100%;
  display:none;
  z-index:10;

}
.welcomeBlackOut h3{
  color:white;
  font-family:arial;
  font-size:4em;
}



nav.mobile{
  position:fixed;
  top:0px;
  left:100vw;
  width:100vw;
  height:100vh;
  z-index:10;
  transition:1s all;
}
.mobileMenuButton{
  display: none;
  position:fixed;
  top:0px;
  right:0px;
}
