@charset "UTF-8";
/* CSS Document */
body{
  font-family: sans-serif;
  color:#0a1e40;

}



.outer{
  text-align: center;
}

.page{

  max-width: 1200px;
  width: 100%;
  display: inline-block;
}
.topofpage{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	height: 80px;
	background-color: white; 
}

.logo{
background-color: white;
max-width: 250px;
margin-left: 10px;	

}
.logoimg{
	width: 60%;
}
.layout{
	width:100%;
	height: 100px;
	background-color: #f5eaea;

}


/* HERO IMAGE */
.hero_content{
	font-size:28px;
	text-align: center;
}
.hero_text_headline{
	font-weight: bold;
	font-size: 34px;
	color:#2d71d5;
}

.hero_content img{
	width:100%;
}


/* IMAGE TRIO COMPONENT */


.imgtrio{
	align-items: center;
	height: 500px;
	overflow:auto;
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: left;
}

.imgtrio .section{
	color: #F7C34A;
   text-transform: uppercase;
   font-weight: bold;
}

.imgtrio img{
	float: center;
	width: 90%;
}

.ads{
	background-color: #9ad0f7;
	height: 100%;
	float: center;
	align-items: center;
}

.imgtrio:hover{animation-name: changescale;
	animation-duration: 1s;
	
}
.logoimg:hover{
	animation-name: changescale;
	animation-duration: 1s;
}
.hero_content img:hover{
	animation-name: movingimg;
	animation-duration: 2s;
}
@keyframes changescale{
	from {transform: scale(1,1)}
	to{transform: scale(1.3,1.3)}
	
}
@keyframes movingimg{
	0% {
	rotate: 0deg;
  }
  
  25% {
    transform: translate(100px, 10px) scale(1.3,1.3);
	rotate: 10deg;
 
  }
	50% {
    transform: translate(0px, 0px) scale(1.3,1.3);
	rotate: 0deg;
 
  }
	75% {
    transform: translate(10px, 100px) scale(1.3,1.3);
	rotate: -10deg;
 
  }
	100% {
	rotate: 0deg;
    
  }
	
}
/* [class^="imgtrio"] element that starts with */
div [class^="imgtrio"]:first-of-type {
    margin: 0px;
   
}

div [class^="imgtrio"]:last-of-type {
    margin: 0px;
   
}
